# Postgres Database connection string
DATABASE_URL=postgresql+asyncpg://openfm:openfm@localhost:5432/openfm

# Postgres configuration for Docker
POSTGRES_DB=openfm
POSTGRES_USER=openfm
POSTGRES_PASSWORD=openfm

# Redis connection string
REDIS_URL=redis://localhost:6379/0

# API URL for the Web Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# pgAdmin default credentials
PGADMIN_DEFAULT_EMAIL=admin@openfm.dev
PGADMIN_DEFAULT_PASSWORD=admin
